.cart-widget{
    margin: auto;
    margin-right: 1rem;
    width: 5%;
}

.cart-widget:hover{
    transform: scale(1.3);
    transition: 200ms;
    cursor: pointer;
}

.widget{
    margin-top: 5px;
    padding: 10px;
}